#input-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 10px;

    #city-search {
        color: white;
        flex: 1;
        padding: 20px;
        border: none;
        border-radius: 15px;
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(96 85 85 / 40%);
        outline: none;
        text-transform: capitalize;
        &::placeholder {
            color: rgb(192, 192, 192);
        }
    }
    .search-button {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: rgba(0, 0, 0, 0.559);
        outline: none;
        border: none;

        .search-icon {
            font-size: 20px;
            color: #bbbbbb;
            &:hover {
                color: rgb(94, 91, 93);
                cursor: pointer;
            }
        }
    }
}
